
RecordEdits

Define ColladaModel { Axis  Grid100x100  chest-freezer-model  dafTruck-model  mannequinMale-model }
Define DisplayEntity { XY-Grid  XYZ-Axis  chest-freezer  chest-freezer_Copy1  dafTruck  mannequin2  mannequinMale }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Shape { Shape1  Shape2  Shape3 }
Define View { Planta  Simula }

Define EntityLabel { Shape1.Label  Shape2.Label  Shape3.Label  dafTruck.Label  mannequin2.Label  mannequinMale.Label }


Simulation Description { 'Simulation run control inputs' }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation ShowLabels { FALSE }
Simulation ShowSubModels { FALSE }
Simulation LockWindows { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation OutputViewerPos { 2739  839 }
Simulation OutputViewerSize { 590  250 }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

chest-freezer-model ColladaFile { chest-freezer.zip }

dafTruck-model ColladaFile { dafTruck.zip }

mannequinMale-model ColladaFile { mannequinMale.zip }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

chest-freezer Position { -16.6  27.4  0.2  m }
chest-freezer Alignment { 0.0  0.0  0.0 }
chest-freezer Size { 1  0.4  1  m }
chest-freezer Orientation { 90  0  90  deg }
chest-freezer DisplayModel { chest-freezer-model }

chest-freezer_Copy1 Position { -16.6  28.8  0.2  m }
chest-freezer_Copy1 Alignment { 0.0  0.0  0.0 }
chest-freezer_Copy1 Size { 1  0.4  1  m }
chest-freezer_Copy1 Orientation { 90  0  90  deg }
chest-freezer_Copy1 DisplayModel { chest-freezer-model }

dafTruck Position { 31.4  -0.4  1.5  m }
dafTruck Alignment { 0.0  0.0  0.0 }
dafTruck Size { 2.6  3  16  m }
dafTruck Orientation { 90  0  90  deg }
dafTruck DisplayModel { dafTruck-model }

mannequin2 Position { 38.9  2.0  0.9  m }
mannequin2 Alignment { 0.0  0.0  0.0 }
mannequin2 Size { 0.5  1.8  0.3  m }
mannequin2 Orientation { 90.0  0.0  360.0  deg }
mannequin2 DisplayModel { mannequinMale-model }

mannequinMale Position { -15.2  28.0  0.9  m }
mannequinMale Alignment { 0.0  0.0  0.0 }
mannequinMale Size { 0.5  1.8  0.3  m }
mannequinMale Orientation { 90  0  -90  deg }
mannequinMale DisplayModel { mannequinMale-model }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Shape ***

Shape1 Position { 0  0  0  m }
Shape1 Size { 80  16  1  m }

Shape2 Position { 0  22  0.0  m }
Shape2 Size { 80  16  1  m }

Shape3 Position { 0  11  0.0  m }
Shape3 Size { 10  6  1  m }

# *** View ***

Planta Description { 'Default view window' }
Planta ViewCenter { 32.988062  70.379967  15.958112  m }
Planta ViewPosition { 196.861537  48.889223  100.012774  m }
Planta ShowWindow { TRUE }
Planta Lock2D { FALSE }
Planta SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

Simula ViewCenter { 34.7  0.3  13.852826  m }
Simula ViewPosition { 34.7  0.3  36.543408  m }
Simula WindowPosition { 2190  119 }
Simula ShowWindow { TRUE }
Simula Lock2D { TRUE }

# *** EntityLabel ***

mannequin2.Label Size { 1.4  0.3  1.0  m }

mannequinMale.Label Position { 0.4  2.1  0.0  m }
