
RecordEdits

Define ExpressionThreshold { ExpressionThreshold1 }
Define AddTo { AddToCarregadeira }
Define Branch { Branch1 }
Define EntityContainer { EntityContainerCarregadeiraBag  EntityContainerEmpilhadeira }
Define EntityConveyor { EntityConveyor1 }
Define EntityDelay { EntityDelayTrasnportaCheia  EntityDelayVoltaVazia }
Define EntityGenerator { EntityGenerator1  GeraBag  GeraCarregadeira }
Define EntitySink { EntitySink1 }
Define Pack { PackBag  PackEmpilhadeira }
Define Queue { Queue1  Queue2  QueueBag  QueueBalanca  QueueBascular  QueueCarregadeira  QueueCarregar  QueueEmpilhadeira  QueuePilha }
Define Server { ServerBalanca1  ServerBalanca2  ServerBascular  ServerCarregar }
Define SimEntity { Bag  Carregadeira  Empilhadeira }
Define Unpack { Unpack1 }
Define ColladaModel { AtorHaut-model  Axis  chest-freezer-model  dafTruck-model  dafTruck1-model  mannequinMale-model }
Define DisplayEntity { XY-Grid  XYZ-Axis  chest-freezer  chest-freezer_Copy1  dafTruck  mannequin01  mannequin02  mannequin03 }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Shape { Shape1  Shape2  Shape3 }
Define View { Planta  Simula }

Define EntityLabel { Carregadeira.Label  Empilhadeira.Label  EntityContainerCarregadeiraBag.Label  EntityContainerEmpilhadeira.Label  Shape1.Label  Shape2.Label  Shape3.Label  dafTruck.Label  mannequin01.Label  mannequin02.Label  mannequin03.Label }

Bag AttributeDefinitionList { { type  0 } }
Carregadeira AttributeDefinitionList { { type  0 } }
Empilhadeira AttributeDefinitionList { { type  0 } }

Bag AttributeDefinitionList { { type  '"bag"' } }
Carregadeira AttributeDefinitionList { { type  '"carregadeira"' } }
Empilhadeira AttributeDefinitionList { { type  '"carregadeira"' } }

Simulation Description { 'Simulation run control inputs' }

# *** ExpressionThreshold ***

ExpressionThreshold1 OpenCondition { '[QueueBalanca].QueueLength < 4' }

# *** AddTo ***

AddToCarregadeira NextComponent { EntityDelayTrasnportaCheia }
AddToCarregadeira WaitQueue { QueueCarregadeira }
AddToCarregadeira ContainerQueue { QueuePilha }

# *** Branch ***

Branch1 NextComponentList { QueueBalanca  EntityDelayVoltaVazia }
Branch1 Choice { 'this.obj.type == "bag" ? 1 : 2' }

# *** EntityConveyor ***

EntityConveyor1 NextComponent { EntitySink1 }
EntityConveyor1 TravelTime { 10  s }
EntityConveyor1 Length { 5  m }

# *** EntityDelay ***

EntityDelayTrasnportaCheia NextComponent { QueueBascular }
EntityDelayTrasnportaCheia Duration { 15  s }

EntityDelayVoltaVazia NextComponent { QueueCarregar }
EntityDelayVoltaVazia Duration { 15  s }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { QueueEmpilhadeira }
EntityGenerator1 EntitiesPerArrival { 1 }
EntityGenerator1 PrototypeEntity { Empilhadeira }
EntityGenerator1 MaxNumber { 1 }

GeraBag NextComponent { QueueBag }
GeraBag EntitiesPerArrival { 1000 }
GeraBag PrototypeEntity { Bag }
GeraBag MaxNumber { 1000 }

GeraCarregadeira NextComponent { QueueCarregadeira }
GeraCarregadeira EntitiesPerArrival { 1 }
GeraCarregadeira PrototypeEntity { Carregadeira }
GeraCarregadeira MaxNumber { 1 }

# *** Pack ***

PackBag NextComponent { AddToCarregadeira }
PackBag WaitQueue { QueueBag }
PackBag NumberOfEntities { 2 }
PackBag PrototypeEntityContainer { EntityContainerCarregadeiraBag }

PackEmpilhadeira NextComponent { EntityConveyor1 }
PackEmpilhadeira WaitQueue { Queue2 }
PackEmpilhadeira NumberOfEntities { 1 }
PackEmpilhadeira PrototypeEntityContainer { EntityContainerEmpilhadeira }

# *** Server ***

ServerBalanca1 NextComponent { EntitySink1 }
ServerBalanca1 WaitQueue { QueueBalanca }
ServerBalanca1 ServiceTime { 1.5  min }

ServerBalanca2 NextComponent { Queue2 }
ServerBalanca2 WaitQueue { QueueBalanca }
ServerBalanca2 ServiceTime { 1.5  min }

ServerBascular NextComponent { Queue1 }
ServerBascular WaitQueue { QueueBascular }
ServerBascular ServiceTime { 5  s }

ServerCarregar ReleaseThresholdList { ExpressionThreshold1 }
ServerCarregar NextComponent { QueueCarregadeira }
ServerCarregar WaitQueue { QueueCarregar }
ServerCarregar ServiceTime { 5  s }

# *** Unpack ***

Unpack1 NextComponent { Branch1 }
Unpack1 WaitQueue { Queue1 }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 4 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { FALSE }
Simulation LockWindows { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

ExpressionThreshold1 Position { -17.9  31.2  0.0  m }
ExpressionThreshold1 VisibleViews { Simula }

AddToCarregadeira Position { -30.0  21.2  0.6  m }
AddToCarregadeira VisibleViews { Simula }

Branch1 Position { -18.4  27.8  0.0  m }
Branch1 VisibleViews { Simula }

EntityContainerCarregadeiraBag Position { -44.8  20.5  0.0  m }
EntityContainerCarregadeiraBag Size { 1.8  0.9  1  m }
EntityContainerCarregadeiraBag Movable { TRUE }
EntityContainerCarregadeiraBag VisibleViews { Simula }
EntityContainerCarregadeiraBag PositionOffset { -1  -0.5  0  m }
EntityContainerCarregadeiraBag Spacing { 0  m }
EntityContainerCarregadeiraBag MaxPerLine { 3 }
EntityContainerCarregadeiraBag ShowEntities { TRUE }

EntityContainerEmpilhadeira Position { -14.4  32.1  0.0  m }
EntityContainerEmpilhadeira Size { 0.9  0.9  1  m }

EntityConveyor1 Points { { -11.3  22.7  0.0  m } { 4.9  16.1  0.0  m } }

EntityDelayTrasnportaCheia Points { { -25.8  21.8  1.5  m } { -21.8  27.8  1.5  m } }
EntityDelayTrasnportaCheia VisibleViews { Simula }

EntityDelayVoltaVazia Points { { -20.6  27.5  1.5  m } { -26.1  22.3  1.5  m } }
EntityDelayVoltaVazia VisibleViews { Simula }

EntityGenerator1 Position { -55.6  25.6  0.0  m }

GeraBag Position { -46.5  22.3  0.0  m }
GeraBag VisibleViews { Simula }

GeraCarregadeira Position { -45.5  27.1  0.0  m }
GeraCarregadeira VisibleViews { Simula }

EntitySink1 Position { 45.7  2.1  0.0  m }

PackBag Position { -44.9  22.2  0  m }
PackBag VisibleViews { Simula }

PackEmpilhadeira Position { -14.6  29.3  0.0  m }

Queue1 Position { -20.1  29.0  0.0  m }
Queue1 VisibleViews { Simula }

Queue2 Position { -11.5  28.3  0.0  m }

QueueBag Position { -46.6  20.5  0.0  m }
QueueBag VisibleViews { Simula }

QueueBalanca Position { -16.0  27.8  2.2  m }
QueueBalanca VisibleViews { Simula }
QueueBalanca MaxPerLine { 1 }
QueueBalanca MaxRows { 2 }

QueueBascular Position { -22.5  28.8  0.0  m }
QueueBascular VisibleViews { Simula }

QueueCarregadeira Position { -44.4  28.6  0.0  m }
QueueCarregadeira VisibleViews { Simula }

QueueCarregar Position { -26.3  23.6  0.0  m }
QueueCarregar VisibleViews { Simula }

QueueEmpilhadeira Position { -53.2  27.4  0.0  m }

QueuePilha Position { -37.3  14.7  0.6  m }
QueuePilha Size { 0.5  0.5  0.0  m }
QueuePilha Orientation { 0.0  0.0  -90  deg }
QueuePilha VisibleViews { Simula }
QueuePilha MaxPerLine { 7 }
QueuePilha MaxRows { 10 }

ServerBalanca1 Position { -16.7  29.0  0.4  m }
ServerBalanca1 VisibleViews { Simula }

ServerBalanca2 Position { -16.7  27.5  0.4  m }
ServerBalanca2 VisibleViews { Simula }

ServerBascular Position { -21.3  28.3  1.5  m }
ServerBascular VisibleViews { Simula }

ServerCarregar Position { -26.8  22.5  1.5  m }
ServerCarregar VisibleViews { Simula }

Bag Position { -59.2  10.0  0.0  m }
Bag Alignment { 0.0  0.0  -0.5 }
Bag Size { 0.90  0.90  1.20  m }
Bag DisplayModel { Cube }

Carregadeira Position { -59.1  15.6  1.5  m }
Carregadeira Alignment { 0.0  0.0  0 }
Carregadeira Size { 2  3  5  m }
Carregadeira Orientation { 90  0  -90  deg }
Carregadeira DisplayModel { AtorHaut-model }

Empilhadeira Position { -59.5  21.4  1.7  m }
Empilhadeira Alignment { 0.0  0.0  0 }
Empilhadeira Size { 2  3  3  m }
Empilhadeira Orientation { 90  0  90  deg }
Empilhadeira DisplayModel { AtorHaut-model }

Unpack1 Position { -18.5  29.2  0.0  m }
Unpack1 VisibleViews { Simula }

# *** ColladaModel ***

AtorHaut-model ColladaFile { AtorHaut.zip }

Axis ColladaFile { <res>/shapes/axis_text.dae }

chest-freezer-model ColladaFile { chest-freezer.zip }

dafTruck-model ColladaFile { dafTruck.zip }

dafTruck1-model ColladaFile { dafTruck.zip }

mannequinMale-model ColladaFile { mannequinMale.zip }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

chest-freezer Position { -16.6  27.4  0.2  m }
chest-freezer Alignment { 0.0  0.0  0.0 }
chest-freezer Size { 1  0.4  1  m }
chest-freezer Orientation { 90  0  90  deg }
chest-freezer DisplayModel { chest-freezer-model }
chest-freezer VisibleViews { Planta }

chest-freezer_Copy1 Position { -16.6  28.8  0.2  m }
chest-freezer_Copy1 Alignment { 0.0  0.0  0.0 }
chest-freezer_Copy1 Size { 1  0.4  1  m }
chest-freezer_Copy1 Orientation { 90  0  90  deg }
chest-freezer_Copy1 DisplayModel { chest-freezer-model }
chest-freezer_Copy1 VisibleViews { Planta }

dafTruck Position { 31.4  -0.4  1.5  m }
dafTruck Alignment { 0.0  0.0  0.0 }
dafTruck Size { 2.6  3  16  m }
dafTruck Orientation { 90  0  90  deg }
dafTruck DisplayModel { dafTruck-model }
dafTruck VisibleViews { Planta }

mannequin01 Position { -15.2  28.8  0.9  m }
mannequin01 Alignment { 0.0  0.0  0.0 }
mannequin01 Size { 0.5  1.8  0.3  m }
mannequin01 Orientation { 90  0  -90  deg }
mannequin01 DisplayModel { mannequinMale-model }
mannequin01 VisibleViews { Planta }

mannequin02 Position { 38.9  2.0  0.9  m }
mannequin02 Alignment { 0.0  0.0  0.0 }
mannequin02 Size { 0.5  1.8  0.3  m }
mannequin02 Orientation { 90.0  0.0  360.0  deg }
mannequin02 DisplayModel { mannequinMale-model }
mannequin02 VisibleViews { Planta }

mannequin03 Position { -15.1  27.4  0.9  m }
mannequin03 Alignment { 0.0  0.0  0.0 }
mannequin03 Size { 0.5  1.8  0.3  m }
mannequin03 Orientation { 90  0  -90  deg }
mannequin03 DisplayModel { mannequinMale-model }
mannequin03 VisibleViews { Planta }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Shape ***

Shape1 Position { 0  0  -0.01  m }
Shape1 Size { 80  16  1  m }
Shape1 FillColour { PeachPuff }
Shape1 Outlined { FALSE }

Shape2 Position { 0  22  -0.01  m }
Shape2 Size { 80  16  1  m }
Shape2 FillColour { PeachPuff }
Shape2 Outlined { FALSE }

Shape3 Position { 0  11  -0.01  m }
Shape3 Size { 10  6  1  m }
Shape3 FillColour { PeachPuff }
Shape3 Outlined { FALSE }

# *** View ***

Planta Description { 'Default view window' }
Planta ViewPosition { 9.7  -85.3  70.048286  m }
Planta ViewDirection { -0.020661  0.813337  -0.581425  m }
Planta ShowWindow { TRUE }
Planta Lock2D { FALSE }
Planta SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

Simula ViewPosition { -13.7  23.1  40.982879  m }
Simula ViewDirection { 0.0  0.0  -1.0  m }
Simula ShowWindow { TRUE }
Simula Lock2D { TRUE }

# *** EntityLabel ***

Carregadeira.Label Position { 0.0  -3.15  0.0  m }
Carregadeira.Label Size { 1.4  0.3  1.0  m }
Carregadeira.Label Show { FALSE }

Empilhadeira.Label Position { -0.1  -1.6  0.0  m }
Empilhadeira.Label Size { 1.5  0.3  1.0  m }
Empilhadeira.Label Show { FALSE }

EntityContainerCarregadeiraBag.Label Size { 3.3  0.3  1.0  m }

EntityContainerEmpilhadeira.Label Size { 3.0  0.3  1.0  m }

Shape1.Label Show { FALSE }

Shape2.Label Show { FALSE }

Shape3.Label Show { FALSE }

mannequin01.Label Position { 1.2  -0.0  0.0  m }
mannequin01.Label Size { 1.5  0.3  1.0  m }
mannequin01.Label Show { FALSE }

mannequin02.Label Size { 1.5  0.3  1.0  m }
mannequin02.Label Show { FALSE }

mannequin03.Label Position { 1.2  -0.0  0.0  m }
mannequin03.Label Size { 1.5  0.3  1.0  m }
mannequin03.Label Show { FALSE }
