
RecordEdits

Define ColladaModel { Axis  Grid100x100  mannequinMale-model }
Define DisplayEntity { XY-Grid  XYZ-Axis  mannequinMale }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Shape { Shape1  Shape2  Shape3 }
Define View { Planta  Simula }

Define EntityLabel { Shape1.Label  Shape2.Label  Shape3.Label  mannequinMale.Label }


Simulation Description { 'Simulation run control inputs' }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation LockWindows { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation OutputViewerPos { 2739  839 }
Simulation OutputViewerSize { 590  250 }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

mannequinMale-model ColladaFile { mannequinMale.zip }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Movable { FALSE }

mannequinMale Position { -13.6  25.6  0.9  m }
mannequinMale Alignment { 0.0  0.0  0.0 }
mannequinMale Size { 0.5  1.8  0.3  m }
mannequinMale Orientation { 90  0  0  deg }
mannequinMale DisplayModel { mannequinMale-model }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Shape ***

Shape1 Position { 0  0  0  m }
Shape1 Size { 80  16  1  m }

Shape2 Position { 0  22  0.0  m }
Shape2 Size { 80  16  1  m }

Shape3 Position { 0  11  0.0  m }
Shape3 Size { 10  6  1  m }

# *** View ***

Planta Description { 'Default view window' }
Planta ViewCenter { -22.432123  -24.231443  15.141657  m }
Planta ViewPosition { -48.558841  -113.540331  39.943308  m }
Planta ShowWindow { TRUE }
Planta Lock2D { FALSE }
Planta SkyboxImage { <res>/images/sky_map_2048x1024.jpg }

Simula ViewCenter { 15.027454  -0.400123  7.068825  m }
Simula ViewPosition { 36.575033  -8.891734  17.564236  m }
Simula WindowPosition { 2190  119 }
Simula ShowWindow { TRUE }
Simula Lock2D { FALSE }
