
RecordEdits

Define EntityGenerator { EntityGenerator1 }
Define EntitySink { EntitySink1 }
Define Queue { Queue1 }
Define Server { Server1 }
Define SimEntity { SimEntity1 }
Define ColladaModel {   Axis    Grid100x100  dafTruck-model  dafTruck1-model  propane-stove-model  towelMedicineCabinet-model    }
Define DisplayEntity { XY-Grid  XYZ-Axis  balanca  dafTruck }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Shape { Shape1  Shape2  Shape3 }
Define View { Modelo  Planta }

Define EntityLabel { Shape1.Label  Shape2.Label  Shape3.Label }


Simulation Description { 'Simulation run control inputs' }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { Queue1 }
EntityGenerator1 InterArrivalTime { 0  min }
EntityGenerator1 EntitiesPerArrival { 1000 }
EntityGenerator1 PrototypeEntity { SimEntity1 }
EntityGenerator1 MaxNumber { 1000 }

# *** Server ***

Server1 NextComponent { EntitySink1 }
Server1 WaitQueue { Queue1 }
Server1 ServiceTime { 100  h }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation ShowLabels { FALSE }
Simulation ShowSubModels { TRUE }
Simulation ShowReferences { FALSE }
Simulation ShowEntityFlow { FALSE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

EntityGenerator1 Position { -54.7  19.6  0.0  m }

EntitySink1 Position { 44.3  -0.7  0.0  m }
EntitySink1 Size {  }

Queue1 Position { -39.1  13.5  0.6  m }
Queue1 Orientation { 0.0  0.0  -90  deg }
Queue1 MaxPerLine { 16 }
Queue1 MaxRows { 16 }

Server1 Position { -22.2  19.9  1.0  m }
Server1 Size {  }

SimEntity1 Position { -54.5  20.9  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }
SimEntity1 Size { 0.9  0.9  1.2000000  m }
SimEntity1 DisplayModel { Cube }

# *** ColladaModel ***

#17345_Forklift_v1_NEW-model ColladaFile { imagens/Forklift_v1_L1.123c36083d8d-3465-47c2-97e4-90fffca5fd93/17345_Forklift_v1_NEW.obj }

Axis ColladaFile { <res>/shapes/axis_text.dae }

#Forklift-model ColladaFile { imagens/48-forklift/Forklift.obj }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

dafTruck-model ColladaFile { imagens/dafTruck/dafTruck.obj }

dafTruck1-model ColladaFile { imagens/dafTruck.zip }

propane-stove-model ColladaFile { imagens/propane-stove/propane-stove.obj }

towelMedicineCabinet-model ColladaFile { imagens/towelMedicineCabinet/towelMedicineCabinet.obj }

#truck_daf-model ColladaFile { imagens/84-truck_daf/Truck_DAF/OBJ/truck_daf.obj }



# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

balanca Position { -13.7  26.3  1.5  m }
balanca Alignment { 0.0  0.0  0.0 }
balanca Size { 2.7  3  1.2  m }
balanca Orientation { 90  0  90  deg }
balanca DisplayModel { towelMedicineCabinet-model }

dafTruck Position { 30.2  0.1  1.3  m }
dafTruck Alignment {  }
dafTruck Size { 2.6  2.6  18  m }
dafTruck Orientation { 90  0  90  deg }
dafTruck DisplayModel { dafTruck-model }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Shape ***

Shape1 Position { 0  0  0.0  m }
Shape1 Size { 80  15  1.0  m }
Shape1 FillColour { PeachPuff }
Shape1 Outlined { FALSE }

Shape2 Position { -0  21  0.0  m }
Shape2 Size { 80  15  1.0  m }
Shape2 Filled { TRUE }
Shape2 FillColour { PeachPuff }
Shape2 Outlined { FALSE }

Shape3 Position { 0  10.5  0.0  m }
Shape3 Size { 10  6  1  m }
Shape3 FillColour { PeachPuff }
Shape3 Outlined { FALSE }

# *** View ***

Modelo ViewCenter { -50.408432  28.754952  -24.037423  m }
Modelo ViewPosition { -6.322634  20.258182  15.378532  m }
Modelo WindowPosition { 2190  119 }
Modelo ShowWindow { TRUE }
Modelo Lock2D { FALSE }

Planta Description { 'Default view window' }
Planta ViewCenter { 4.1  8.9  88.610148  m }
Planta ViewPosition { 4.1  8.9  105.930656  m }
Planta ShowWindow { TRUE }
Planta Lock2D { TRUE }
Planta SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
