
RecordEdits

Define ExpressionThreshold { ExpressionThreshold1 }
Define AddTo { AddTo1 }
Define Branch { Branch1 }
Define EntityContainer { EntityContainer1 }
Define EntityDelay { EntityDelay1  EntityDelay2 }
Define EntityGenerator { EntityGenerator1  EntityGenerator2 }
Define EntityProcessor { EntityProcessor1 }
Define EntitySink { EntitySink1 }
Define Pack { Pack1 }
Define Queue { Queue1  Queue2  Queue3  Queue4  Queue5  Queue6 }
Define Server { Server1 }
Define SimEntity { SimEntity1  SimEntity2 }
Define Unpack { Unpack1 }
Define Resource { Resource1 }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }

Define EntityLabel { EntityContainer1.Label  SimEntity2.Label }

SimEntity1 AttributeDefinitionList { { type  0 } }
SimEntity2 AttributeDefinitionList { { type  0 } }

SimEntity1 AttributeDefinitionList { { type  '"bag"' } }
SimEntity2 AttributeDefinitionList { { type  '"carregadeira"' } }

Simulation Description { 'Simulation run control inputs' }

# *** ExpressionThreshold ***

ExpressionThreshold1 OpenCondition { '[Queue2].QueueLength < 4' }

# *** AddTo ***

AddTo1 NextComponent { EntityDelay1 }
AddTo1 WaitQueue { Queue3 }
AddTo1 NumberOfEntities { 1 }
AddTo1 ContainerQueue { Queue4 }

# *** Branch ***

Branch1 NextComponentList { Queue2  EntityDelay2 }
Branch1 Choice { 'this.obj.type == "bag" ? 1 : 2' }

# *** EntityDelay ***

EntityDelay1 NextComponent { Queue5 }
EntityDelay1 Duration { 10  s }

EntityDelay2 NextComponent { Queue6 }
EntityDelay2 Duration { 10  s }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { Queue1 }
EntityGenerator1 EntitiesPerArrival { 10 }
EntityGenerator1 PrototypeEntity { SimEntity1 }
EntityGenerator1 MaxNumber { 10 }

EntityGenerator2 NextComponent { Queue3 }
EntityGenerator2 EntitiesPerArrival { 1 }
EntityGenerator2 PrototypeEntity { SimEntity2 }
EntityGenerator2 MaxNumber { 1 }

# *** EntityProcessor ***

EntityProcessor1 NextComponent { EntitySink1 }
EntityProcessor1 WaitQueue { Queue2 }
EntityProcessor1 ResourceList { Resource1 }
EntityProcessor1 ServiceTime { 60  s }

# *** Pack ***

Pack1 NextComponent { AddTo1 }
Pack1 WaitQueue { Queue1 }
Pack1 NumberOfEntities { 2 }
Pack1 PrototypeEntityContainer { EntityContainer1 }

# *** Server ***

Server1 ImmediateThresholdList { ExpressionThreshold1 }
Server1 NextComponent { Queue3 }
Server1 WaitQueue { Queue6 }
Server1 ServiceTime { 10  s }

# *** Unpack ***

Unpack1 NextComponent { Branch1 }
Unpack1 WaitQueue { Queue5 }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 16 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation ModelBuilderPos { 1920  119 }
Simulation ModelBuilderSize { 220  480 }
Simulation ObjectSelectorPos {  }
Simulation ObjectSelectorSize {  }
Simulation InputEditorPos {  }
Simulation InputEditorSize {  }

ExpressionThreshold1 Position { 20.1  8.3  0.0  m }

AddTo1 Position { 8.9  1.4  0.0  m }

Branch1 Position { 14.9  6.4  0.0  m }

EntityContainer1 Position { 9.35  7.0  0.0  m }
EntityContainer1 Size { 1.1  1.2  1.0  m }

EntityDelay1 Points { { 10.3  1.4  0.0  m } { 13.6  1.7  0.0  m } }

EntityDelay2 Points { { 13.4  6.1  0.0  m } { 8.2  4.3  0.0  m } }

EntityGenerator1 Position { 2.4  1.4  0.0  m }

EntityGenerator2 Position { 3.1  4.3  0.0  m }

EntityProcessor1 Position { 18.0  2.6  0.0  m }

EntitySink1 Position { 20.7  2.8  0.0  m }

Pack1 Position { 6.1  1.3  0.0  m }

Queue1 Position { 4.2  1.4  0.0  m }

Queue2 Position { 17.9  5.3  0.0  m }

Queue3 Position { 4.9  4.2  0.0  m }

Queue4 Position { 9.7  -0.7  0.0  m }

Queue5 Position { 14.6  2.5  0.0  m }

Queue6 Position { 7.9  5.4  0.0  m }

Server1 Position { 6.5  5.3  0.0  m }

SimEntity1 Position { 0.8  1.4  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }

SimEntity2 Position { 1.4  4.3  0.0  m }
SimEntity2 Alignment { 0.0  0.0  -0.5 }
SimEntity2 Size { 1.000000  1.000000  1.000000  m }
SimEntity2 DisplayModel { Cube }

Unpack1 Position { 15.0  4.2  0.0  m }

Resource1 Position { 17.6  7.0  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 13.962249  2.177088  5.205428  m }
View1 ViewPosition { 13.962249  2.177088  29.993174  m }
View1 WindowSize { 1700  710 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
